  .grid-item {
    background-color: #afe5ff;
    border: 5px solid #20006b;
    /*padding: 50px;*/
    font-size: 65px;
    font-weight: bolder;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    
    text-align: center;
    outline: none;
  }

  .cursor {
    cursor: pointer;
  }

  .left-item {
    border-left: 0;
  }

  .right-item {
    border-right: 0;
  }

  .top-item {
    border-top: 0;
  }

  .bottom-item {
    border-bottom: 0;
  }

  .player-1 {
    background-color: red;
  }

  .player-2 {
    background-color: blue;
  }