  .grid-item {
    background-color: #652EC7;
    border: 5px solid #FE38C8;
    color: #FFD300;
    font-size: 65px;
    font-weight: bolder;
    width: 100px;
    height: 100px;
    vertical-align: middle;
    
    text-align: center;
    outline: none;
  }

  .cursor {
    cursor: pointer;
  }

  .left-item {
    border-left: 0;
  }

  .right-item {
    border-right: 0;
  }

  .top-item {
    border-top: 0;
  }

  .bottom-item {
    border-bottom: 0;
  }